<!DOCTYPE html>
<html lang="en" ng-app="myApp_borrow">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <!--导入样式，如过不导入，则不会使用样式-->
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/buy.css"/>
    <title>宝贝详情</title>
</head>
<body>
    <div class="container">
        <div id="head_pic">
            <img src="../static/images/111.jpg" alt="">
        </div>
        <div id="thing">
            <span id="thing_pic">
                <img src="http://z11.tuanimg.com/imagev2/trade/800x800.51484ad4192023bbbad6d3bd79dea925.600x.jpg.webp" alt="">
                </span>
            <span id="show">
                <p>加入惠钱包存钱计划，免费拿商品</p>
                <p class="weak">加厚防爆正品瑜伽球</p>
                <p class="weak">颜色分类：紫色，直径：55cm</p>
            </span>
        </div>
        <div id="inall">
            <div id="purse">
                <div id="choose_title">
                    <p>请选择惠钱包存钱计划</p>
                </div>
                <div id="choose_type">
                    <span id="long_time" class="choose_right">
                        <p>长期计划</p>
                        <p>90天~365天</p>
                    </span>
                    <span id="short_time">
                        <p>短期计划</p>
                        <p>90天以内</p>
                    </span>
                </div>
                <div id="choose_detail">
                    <dl>
                        <dt>存入时间</dt>
                        <dd>96天</dd>
                    </dl>
                    <dl>
                        <dt>存入金额</dt>
                        <dd>1500.00元</dd>
                    </dl>
                    <dl>
                        <dt>存入金额归还时间</dt>
                        <dd>2017-10-23</dd>
                    </dl>
                </div>
                <div id="shop">
                    <img src="../static/images/hjs.jpg" alt="">
                    <p id="hqb">此惠钱包存钱计划由惠金所提供，查看详情></p>
                </div>
            </div>
        </div>
        <div id="agreement">
                <input type="checkbox" id="">
                <i>我已阅读并同意</i>
                <em>《定向委托投资管理协议》,</em>
                <em>《委托代扣服务协议》</em>
        </div>
        <div class="go_now" id="save_now">
            <p class="button_right">立即存钱</p>
        </div>
        <div id="open_count">
            <h1>还差两步就可以存钱了</h1>
            <div id="step_all">
                <div id="item_head">
                    <div class="circle step_over"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
                <div id="step">
                    <dl>
                        <dt class="step_over">实名认证</dt>
                        <dd class="step_over">已认证</dd>
                    </dl>
                    <dl>
                        <dt>绑定银行卡</dt>
                        <dd>前往绑定></dd>
                    </dl>
                    <dl>
                        <dt>设置交易密码</dt>
                        <dd>前往设置></dd>
                    </dl>
                </div>
            </div>
            <div class="go_now" id="do_now">
                <p class="button_right">前往操作</p>
            </div>
        </div>
        <div id="mask">
            
        </div>
    </div>
<script src="../static/bootstrap/jquery-2.1.1.min.js"></script>
<script src="../static/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/buy.js"></script>

</body>
</html>