<!DOCTYPE html>
<html lang="en" ng-app="myApp_borrow">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <!--导入样式，如过不导入，则不会使用样式-->
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/last.css"/>
    <title>宝贝详情</title>
</head>
<body>
<div class="container">
    <div id="first">
        <div id="dt_img">
            <div id="images">
                <ul>
                    <li data-index="1"><img src="../static/images/shoppic.jpg" alt=""></li>
                    <li data-index="2"><img src="http://z11.tuanimg.com/imagev2/trade/800x800.f1324e99de3205dcdedacb3177a9c6bf.600x.jpg.webp" alt=""></li>
                    <li data-index="3"><img src="http://z11.tuanimg.com/imagev2/trade/800x800.92bc3d0da64bb6bc1a871dd55254c35b.600x.jpg.webp" alt=""></li>
                    <li data-index="4"><img src="http://z11.tuanimg.com/imagev2/trade/800x800.92bc3d0da64bb6bc1a871dd55254c35b.600x.jpg.webp" alt=""></li>
                </ul>
            </div>
            <div id="image_num">
                <em>1</em>
                /4
            </div>
        </div>
        <div id="dt_mes">
            <h1 id="title">
                <em>【掌柜推荐】</em>
                秀翰加厚防爆瑜珈球 孕妇瘦身美体运动健身球
            </h1> 
            <div id="arrt">
                <strong id="currunt">¥19.
                    <em>9</em>&nbsp-&nbsp¥29.
                    <em>9</em>
                </strong>
                <del class="del_currunt">
                    ¥79
                </del>
                <em class="log">包邮</em>
                <em class="log">积分抵现</em>
            </div>  
        </div>
        <div id="cut" class="dt_com">
            <span><i></i>七天无理由</span>
            <span><i></i>退货补运费</span>
            <span><i></i>72小时发货</span>
        </div>
        <div id="hjs" class="dt_com line_cho">
            <img style="height:100%;float:left" src="../static/images/hjs.jpg" alt="">
            惠钱包帮您免费得宝贝
        </div>
        <div id="choose" class="dt_com line_cho">
            请选择颜色，尺码
        </div>
        <div id="dt_comment">
            <div class="comment_tag">
                <span>
                    有图(
                    <em>1</em>
                    )
                </span>
            </div>
            <div id="qualityComment">
                <dl>
                    <dd>
                        <img src="../static/images/我的1@2x.png" alt="" style="border-radius: 50%;width:20px;height:20px;margin-right:3px">
                        <span class="userName">ls***40</span>
                        <span class="time weak">2017.03.03</span>
                    </dd>
                    <dd>
                        <p>球挺厚，挺好，很喜欢，虽然有点小波折但是店家已完美解决，好评</p>
                    </dd>
                    <dd>
                        <span class="weak"> 颜色:蓝色 尺码:75CM </span>
                    </dd>
                </dl>
            </div>
            <div id="more_judge">
                <span>查看全部评价</span>
            </div>
        </div>
        <div id="dt_shop">
            <div id="dt_seller">
                <div id="dt_seller_info">
                    <span><img src="../static/images/美女2.jpg" alt="" style="height:40px;width:40px">
                    </span>
                    <span>
                        <p>美誉专卖店</p>
                        <p>
                            <img src="https://gtms03.alicdn.com/tps/i4/TB17JRyFVXXXXXhXpXXxPfUFXXX-16-16.gif" alt="">
                        </p>
                    </span>
                    <span id="join_shop" class="log">进店逛逛</span>
                </div>
                <div id="dt_shop_info">
                    <ul>
                        <li class="rec_all"><p>195个</p><p>全部宝贝</p></li>
                        <li class="rec_all"><p>2.1万</p><p>关注人数</p></li>
                        <li class="drs">
                            <p>宝贝描述: <em>4.2</em><i class="drs_high"></i></p>
                            <p>买家服务: <em>4.5</em><i class="drs_high"></i></p>
                            <p>物流服务: <em>4.3</em><i class="drs_high"></i></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="dt_shop_rec">
                <dl>
                    <dt>
                        <img src="http://z2.tuanimg.com/imagev2/trade/600x600.180f87c0b6b9801bccd35041dd5e06f7.310x310.jpg" alt="">
                    </dt>
                    <dd>
                        <em>¥14.2</em><del class="del_currunt">¥23.5</del>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://z3.tuanimg.com/imagev2/trade/800x800.0011199e136ceb21c9862ab7ef369c31.310x310.jpg" alt="">
                    </dt>
                    <dd>
                        <em>¥58.2</em><del class="del_currunt">¥73.4</del>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://z3.tuanimg.com/imagev2/trade/800x800.b2c231fa2203a21658d8e8b5c37ade1f.310x310.png" alt="">
                    </dt>
                    <dd>
                        <em>¥34.5</em><del class="del_currunt">¥43.4</del>
                    </dd>
                </dl>
            </div>
        </div>
        <div id="nav" role="navigation">
            <div id="nav_im">
                 <ul class="">
                    <li class="talk"><i></i><p>客服</p></li>
                    <li class="shops"><i></i><p>购物车</p></li>
                    <li class="save"><i></i><p>收藏</p></li>
                </ul>
            </div>
            <div id="nav_em">
                <ul>
                    <li><p>加入购物车</p></li>
                    <li id="buy_now"><p>立即购买</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="mask"></div>
    <div id="shopping">
        <div id="goods">
            <span id="goods_pic">
                <img src="../static/images/shoppic.jpg" alt="">
            </span>
            <span id="good_detail">
                <span id="currunt">¥19.9</span>
                <p>库存48件</p>
                <p>请选择 颜色分类</p>
            </span>
        </div>
        <div id="goods_type" class="comment_tag">
            <p>颜色分类</p>
            <span>红</span>
            <span>黑</span>
            <span>蓝</span>
            <span>紫</span>
        </div>
        <div id="goods_num">
            <p>购买数量</p>
            <div id="choose_num">
                <span class="jian"></span>
                <span class="num">1</span>
                <span class="add"></span>
                
                
            </div>
        </div>
        <div class="go_now" id="do_now">
            <p class="button_right">立即购买</p>
        </div>
    </div>
    
</div>

<script src="../static/bootstrap/jquery-2.1.1.min.js"></script>
<script src="../static/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/last.js"></script>
</body>
</html>
